<div class="row">
  <div class="col-sm-12">
    <h1 class="page-header">Submit an issue to Amber</h1>

    <% if issue %>
      <div class="alert alert-success" role="alert">
        Your issue was successfully submitted<% if access %> as <a href="http://github.com/<%= repo %>/issues/<%= issue %>"><%= repo %>#<%= issue %></a><% end %>.
      </div>
    <% end %>

    <div class="alert alert-info hidden" role="alert">
      <%= flash if defined?( flash ) %>
    </div>

    <div class="alert alert-warning alert-recaptcha hidden" role="alert">
      Please verify that you are not a robot.
    </div>

    <form method="post">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" />
      </div>
      <div class="form-group">
        <label for="issue">Issue?</label>
        <textarea class="form-control" rows="10" id="issue" name="issue"></textarea>
      </div>

      <div class="g-recaptcha" data-sitekey="6LcGGgoTAAAAAA4YvS7pEwWaFB7gVRT68E6Hnzvr"></div>

      <p>This issue will be published to the <a href="https://github.com/berkmancenter/amber_common/issues">Amber  issue tracker</a>on Github. The only information included will be the content you enter above.</p>

      <button type="submit" class="btn btn-default">Publish</button>
    </form>
  </div>
</div>
